body {
  background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 2200px; */
  background-attachment: fixed;
  background-position: center center;
  z-index: 1000;
}


.content {
  width: 80%;   
  margin: 0 auto;
  height: 1900px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
  
}

section h2 {
  padding-top: 200px;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 100;
  font-style: oblique;
  color: white;
  
} 

.kontakt-content{
  margin-top: 40px;
  margin-left: 5%;
  position: relative;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  width: 90%;
  /* height: 1450px; */
  border-radius: 10px;
}

.svi-kontakti {

  width: 100%;
  height: 261px;
  display: inline-block;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  border-bottom: 1px solid white;
}

.ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  border-bottom: 1px solid white;
}

.ravnatelj {
  height: 195px;
}

.tajnica {
  height: 170px;
}

.vod-teorijske-nastave {
  height: 145px;
}

.vod-prakticne-nastave {
  height: 170px;
}

.pedagoginja {
  height: 140px;
}

.psihologinja {
  height: 140px;
}

.obrazovanje-odraslih {
  height: 140px;
  padding-bottom: 10px;
  
  
}


/* .kontakt-headline {
  display: inline-block;
  width: 100%;
  height: 50px;
 
} */

.kontakt-headline h3 {
  font: 25px bold;
  font-style: italic;
  color: rgb(5, 4, 4);
  text-align: center;
}

.kontakti-info {
  font-family: sans-serif;
  text-align: center;
  margin-top: 15px;
}

.kontakti-info p  {
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;

}


.kontakti-info a {
  margin-top: 25px;
  text-decoration: none;
  color: rgb(255, 189, 189);
  font-weight: bold;
  cursor: pointer;
  
}

.ravnatelj-info, .tajnica-info, .vod-teorijske-info, .vod-prakticne-info, .pedagoginja-info, .psihologinja-info, .obrazovanje-odraslih-info {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}

.ravnatelj-info p, .tajnica-info p, .vod-teorijske-info p, .vod-prakticne-info p, .pedagoginja-info p, .psihologinja-info p, .obrazovanje-odraslih-info p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.obrazovanje-odraslih-info p:nth-child(1) {
  margin-top: 10px;
}

.ravnatelj-info a, .tajnica-info a, .vod-teorijske-info a, .vod-prakticne-info a, .pedagoginja-info a, .psihologinja-info a, .obrazovanje-odraslih-info a {
  text-decoration: none;
  color: rgb(255, 189, 189);
  font-weight: bold;
  cursor: pointer;
}

.obrazovanje-odraslih-info {
  padding-top: 1px;
}

@media screen and (max-width: 360.99px) {
  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 300px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 300px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 165px;
  }
  
  .vod-prakticne-nastave {
    height: 210px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
    
    
  }
  
  
  
  
  

  .footer-flex {
    margin-top: 1600px !important;
  }

}


@media screen and (max-width: 576.99px) and (min-width:361px) {

  .logo-headline {
    margin-left: 200px;
   }
  
   .logo-picture {
    margin-left: 100px;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu {
      margin-left: 150px !important;
      
    }


  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 300px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 280px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 145px;
  }
  
  .vod-prakticne-nastave {
    height: 170px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
    
    
  }
  
  
  
  
  

  .footer-flex {
    margin-top: 1500px;
    margin-left: 80px;
  }
  


}

@media screen and (max-width: 768.99px) and (min-width:577px) {

  .logo-headline {
    margin-left: 420px;
   }
  
   .logo-picture {
    margin-left: 100px;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu {
      margin-left: 230px !important;
      
    }



  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 550px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 260px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 145px;
  }
  
  .vod-prakticne-nastave {
    height: 170px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
    
    
  }
  
  
  
  
  

  .footer-flex {
    margin-top: 1700px;
    margin-left: 140px;
  }
  

}


@media screen and (max-width: 900.99px) and (min-width:769px) {

  .logo-headline {
    margin-left: 500px;
   }
  
   .logo-picture {
    margin-left: 100px;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu {
      margin-left: 280px !important;
      
    }

    body {
      background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 1000px;
      background-attachment: fixed;
      background-position: center center;
      z-index: 1000;
    }
    
    
    .content {
      width: 80%;   
      margin: 0 auto;
      height: 1000px;
      /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
      
    }
    
    section h2 {
      padding-top: 550px;
      text-align: center;
      font-size: 40px;
      font-family: sans-serif;
      font-weight: 100;
      font-style: oblique;
      color: white;
      
    } 
    
    .kontakt-content{
      margin-top: 80px;
      margin-left: 5%;
      position: relative;
      /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
      width: 90%;
      height: 1450px;
      border-radius: 10px;
    }
    
    .svi-kontakti {
    
      width: 100%;
      height: 260px;
      display: inline-block;
      /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
      border-radius: 5px;
      border-bottom: 1px solid white;
      margin-bottom: 50px;
    }
    
    .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
      text-align: center;
      margin-top: 20px;
      width: 100%;
      display: inline-block;
      /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
      border-radius: 5px;
      border-bottom: 1px solid white;
      margin-bottom: 50px;
    }
    
    .ravnatelj {
      height: 195px;
    }
    
    .tajnica {
      height: 170px;
    }
    
    .vod-teorijske-nastave {
      height: 145px;
    }
    
    .vod-prakticne-nastave {
      height: 170px;
    }
    
    .pedagoginja {
      height: 140px;
    }
    
    .psihologinja {
      height: 140px;
    }
    
    .obrazovanje-odraslih {
      height: 140px;
      padding-bottom: 10px;
      
      
    }
    
    .footer-flex {
      margin-top: 1700px;
      margin-left: 240px;
    }

}


@media screen and (max-width: 1024.99px) and (min-width:901px) {


  .logo-headline {
    margin-left: 550px;
   }
  
   .logo-picture {
    margin-left: 100px;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu {
      margin-left: 300px !important;
      
    }

  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 650px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    margin-left: -60px;
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 260px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 145px;
  }
  
  .vod-prakticne-nastave {
    height: 170px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
     
  }

  .footer-flex {
    margin-top: 1800px;
    margin-left: 280px;
  }

}

@media screen and (max-width: 1200.99px) and (min-width:1025px) {
  .logo-headline {
    margin-left: 800px;
   }
  
   .logo-picture {
    margin-left: 100px;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu {
      margin-left: -80px !important;
      
    }


  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 300px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    margin-left: -60px;
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 260px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 145px;
  }
  
  .vod-prakticne-nastave {
    height: 170px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
     
  }

  
  .footer-flex {
    margin-top: 1500px;
    margin-left: 350px;
  }
  
}


@media screen and (max-width: 1440.99px) and (min-width:1201px) {

  .logo-headline {
    margin-left: 983px;
   }
  
   .logo-picture {
    margin-left: 70px !important;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu  {
      /* margin-left: -500px; */
      width: 100%;
      
    }


  body {
    background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center center;
    z-index: 1000;
  }
  
  
  .content {
    width: 80%;   
    margin: 0 auto;
    height: 1000px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
  }
  
  section h2 {
    padding-top: 300px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    font-style: oblique;
    color: white;
    
    
  } 
  
  .kontakt-content{
    margin-top: 80px;
    margin-left: 5%;
    position: relative;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    width: 90%;
    height: 1450px;
    border-radius: 10px;
  }
  
  .svi-kontakti {
  
    width: 100%;
    height: 260px;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj, .tajnica, .vod-teorijske-nastave, .vod-prakticne-nastave, .pedagoginja, .psihologinja, .obrazovanje-odraslih {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
  
  .ravnatelj {
    height: 195px;
  }
  
  .tajnica {
    height: 170px;
  }
  
  .vod-teorijske-nastave {
    height: 145px;
  }
  
  .vod-prakticne-nastave {
    height: 170px;
  }
  
  .pedagoginja {
    height: 140px;
  }
  
  .psihologinja {
    height: 140px;
  }
  
  .obrazovanje-odraslih {
    height: 140px;
    padding-bottom: 10px;
     
  }

  .footer-flex {
    margin-left: 0 !important;
    display: inline-block !important;
    margin-top: 1500px;
    margin-left: 280px;
  }
  
  .skola-info, .strucne-sluzbe, .korisni-linkovi {
    font-size: 16px;
    position: absolute;
    width: 400px;
  }

  .skola-info h3, .strucne-sluzbe h3, .korisni-linkovi h3 {
    font-size: 22px;
  }

  .skola-info  {
    /* margin-left: -1000px; */
    /* bottom: 140px; */
    left: 0;
    
    
  }

  .h3-skola-info {
    margin-left: 15px;
    
  }

 .strucne-sluzbe {
    
    margin-left: 25px;
    bottom: 70px;
    left: 400px;
  }

  .h3-strucne-sluzbe {
    margin-left: -250px;
  

  }

  .korisni-linkovi {
    margin-left: 40px;
    padding-bottom: 50px;
    bottom: 88px;
    left: 830px;
  }

  .h3-korisni-linkovi {
    margin-left: -35px;
  }



}


@media screen and (max-width: 1600.99px) and (min-width:1411px) {
  .logo-headline {
    margin-left: -30px;
  }
   .logo-picture {
    margin-left: 70px !important;
   }
  
    .headline {
    
      padding-right: 120px !important;
      /* margin-left: -200px; */
    }
  
    .head-menu  {
      /* margin-left: -500px; */
      width: 100%;
      
    }
}
