/* 
footer {
  width: 60%;
  height: 300px; 
  margin: 0 auto;
  background-color: rgb(36, 36, 36);
}

.footer-flex{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

 h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.5em;
  font-weight: 100;
  box-sizing: border-box;
}

.skola-info-p span, .strucne-sluzbe-p span {
  color: rgb(154, 154, 179);
}

.h3-skola-info {
  padding-left: 10px;
  padding-top: 20px;
  
}

.skola-info-p {
  color: white;
  font: 10px;
  padding-left: 17px;
  line-height: 22px;
  font-family: sans-serif;
}

.skola-info a {
  text-decoration: none;
  color: rgb(104, 104, 255);
}

.h3-strucne-sluzbe {
  text-align: center;
  padding-top: 20px;
  margin-left: -160px;
}

.strucne-sluzbe-p {
  margin-left: -20px;
  color: white;
  font: 10px;
  line-height: 22px;
  font-family: sans-serif;
}

.h3-korisni-linkovi {
  text-align: left;
  padding-top: 20px;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5);
}

.h3-korisni-linkovi {
  padding-right: 100px;
  margin-left: -40px;
}

.korisni-linkovi-a {
  font: 10px;
  line-height: 22px;
  font-family: sans-serif;
  margin-left: -40px;
  padding-right: 10px;
}

.korisni-linkovi-a a {
  text-decoration: none;
  color: rgb(104, 104, 255);
  display:block;
}


 */

 
 footer {
  width: 100%;
  height: 300px; 
  margin: 0 auto;
  /* background-color: rgb(36, 36, 36); */
}

.footer-flex{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

 h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0.5em;
  font-weight: 100;
  box-sizing: border-box;
}

.skola-info-p span, .strucne-sluzbe-p span {
  color: rgb(185, 185, 231);
}

.h3-skola-info {
  padding-left: 10px;
  padding-top: 20px;
  
}

.skola-info-p {
  color: white;
  font: 10px;
  padding-left: 17px;
  line-height: 22px;
  font-family: sans-serif;
}

.skola-info a {
  text-decoration: none;
  color: rgb(139, 139, 238);
}

.h3-strucne-sluzbe {
  text-align: center;
  padding-top: 20px;
  margin-left: -160px;
}

.strucne-sluzbe-p {
  margin-left: -20px;
  color: white;
  font: 10px;
  line-height: 22px;
  font-family: sans-serif;
}

.h3-korisni-linkovi {
  text-align: left;
  padding-top: 20px;
}


.h3-korisni-linkovi {
  padding-right: 100px;
  margin-left: -40px;
}

.korisni-linkovi-a {
  font: 10px;
  line-height: 22px;
  font-family: sans-serif;
  margin-left: -40px;
  padding-right: 10px;
}

.korisni-linkovi-a a {
  text-decoration: none;
  color: rgb(139, 139, 238);
  display:block;
}


