body {
  background-image: url(../slike/vecteezy_dark-blue-paper-background_1906847.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2200px;
  background-attachment: fixed;
  background-position: center center;
  z-index: 1000;
}


.content {
  width: 80%;   
  margin: 0 auto;
  height: 2100px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
  
}

section h2 {
  padding-top: 200px;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 100;
  font-style: oblique;
  color: white;
  
} 

.sadrzaj{
  margin-top: 40px;
  margin-left: 5%;
  position: relative;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  width: 90%;
  height: 1450px;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.slika {
  width: 100%;
  height: 450px;
  border-radius: 5px;
}

.odlomak {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font: 20px sans-serif;
  line-height: 22px;
  color: white;
}

.odlomak a {
  text-decoration: none;
  color: rgb(255, 189, 189);
}

.odlomak-dva {
  font-weight: bold;
  font-style: italic;
  color: rgb(19, 16, 16);
/* color:rgba(107, 97, 245, 0.966); */
}

.span {
  font-weight: bold;
  font-style: italic;
  /* color:rgba(107, 97, 245, 0.966); */
  color: rgb(19, 16, 16);
}

span {
  font-weight: bold;
  font-style: italic;
  color: rgb(19, 16, 16);
}


.li {
  font-size: 18px;
 margin-top: 10px;
 color: white;
}

.ol :nth-child(1) {
  padding-right: 10px;
  font-weight: bold;
  /* color:rgba(107, 97, 245, 0.966); */
  margin-top: 20px;
  color: rgb(19, 16, 16)
}

.ul li {
  margin-top: 10px;
  padding-right: 10px;
  color: white;
}

.ul :nth-child(1) {
  font-weight: 100;
  color: white;
  
}

.odlomak-pet a {
  text-decoration: none;
  color: rgb(255, 189, 189);
}

.datum {
  position: absolute;
  border-top: 3px solid white;
  font-weight: bold;
  color: rgb(19, 16, 16);
   text-align: center;
   bottom: 2px;
   left: 46.5%;
 }

